.login-container {
  margin: 0;
  padding: 0;
  background-color: #323a45;
  height: 100vh;
}
.logo-container {
  text-align: center;
}
#login .container #login-row #login-column #login-box {
  margin-top: 90px;
  max-width: 600px;
  height: 400px;
  border: 1px solid #9c9c9c;
  background-color: white;
  border-radius: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
.login-footer {
  margin-right: 100px;
}
