.users-table-container {
  border: 1px solid black;
  padding: 20px;
}
.users-table-container h5 {
  background-color: white;
  margin-top: -35px;
  width: 70px;
  padding-left: 5px;
  padding-right: 5px;
}
